{% extends '/layouts/layouts.html' %}

<!-- Start of 'This block is for the Title' -->
{% block title %} 
Practice Potential
{% endblock %}
<!-- End of 'This block is for the Title' -->

<!-- Start of 'This block is for the Title of the Body' -->
{% block bodyTitle %}
Practice Potential
{% endblock %}
<!-- End of 'This block is for the Title of the Body' -->

<!-- Start of 'This block is for the Body' -->
{% block body %}
Practice Potential Body
{% endblock %}
<!-- End of 'This block is for the Body' -->


