{% extends '/layouts/layouts.html' %}

<!-- Start of 'This block is for the Title' -->
{% block title %} 
Dashboard Metric
{% endblock %}
<!-- End of 'This block is for the Title' -->

<!-- Start of 'This block is for the Title of the Body' -->
{% block bodyTitle %}
Dashboard Metric
{% endblock %}
<!-- End of 'This block is for the Title of the Body' -->


<!-- Start of 'This block is for the Body' -->
{% block body %}
Dashboard Metric Body
{% endblock %}
<!-- End of 'This block is for the Body' -->


