{% extends '/layouts/layouts.html' %}

<!-- Start of 'This block is for the Title' -->
{% block title %} 
Morning Huddle
{% endblock %}
<!-- End of 'This block is for the Title' -->

<!-- Start of 'This block is for the Title of the Body' -->
{% block bodyTitle %}
Morning Huddle
{% endblock %}
<!-- End of 'This block is for the Title of the Body' -->


<!-- Start of 'This block is for the Body' -->
{% block body %}
Morning Huddle Body
{% endblock %}
<!-- End of 'This block is for the Body' -->


