{% extends '/layouts/layouts.html' %}

<!-- Start of 'This block is for the Title' -->
{% block title %} 
Patient Portal Reminders
{% endblock %}
<!-- End of 'This block is for the Title' -->

<!-- Start of 'This block is for the Title of the Body' -->
{% block bodyTitle %}
Patient Portal Reminders
{% endblock %}
<!-- End of 'This block is for the Title of the Body' -->


<!-- Start of 'This block is for the Body' -->
{% block body %}
Patient Portal Reminders Body
{% endblock %}
<!-- End of 'This block is for the Body' -->


