{% extends '/layouts/layouts.html' %}

<!-- Start of 'This block is for the Title' -->
{% block title %} 
Front Office Collection
{% endblock %}
<!-- End of 'This block is for the Title' -->

<!-- Start of 'This block is for the Title of the Body' -->
{% block bodyTitle %}
Front Office Collection
{% endblock %}
<!-- End of 'This block is for the Title of the Body' -->


<!-- Start of 'This block is for the Body' -->
{% block body %}
Front Office Collection Body
{% endblock %}
<!-- End of 'This block is for the Body' -->


